/* Default styles for desktop view */
body {
  width: ;
  height: 800px;
  overflow: hidden;
  background-image: url(background.jpg);
  background-color: rgba(68,70,84);
  color: #fff;
  margin: 0; /* remove default margins */
  display: flex; /* enable flexbox layout */
  align-items: center; /* center elements vertically */
  justify-content: center; /* center elements horizontally */
  background-repeat: no-repeat; /* make image not repeat */
  background-position: center center; /* center image */
  background-size: 90% auto; /* set width and height of image */
}

#eEgg {
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Media query for screens smaller than 768px */
@media only screen and (max-width: 768px) {
  body {
    width: ;
    height: ;
    display: flex;
    background-color: blue;
    background-image: url(background.jpg);
    background-size: ; /* set background-size to cover for mobile view */
  }
}

/* Mic */
.container {
  position: relative;
  width: 40px;
  height: 0px;
}

.mic-button {
  position: absolute;
  top: -75px;
  right: -345px;
  background-image: url('mic.png');
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.mic-button.pulsate {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* Covert to Speech Button */
.speakSend {
  position: absolute;
  display: block;
  width: 45px;
  height: 45px;
  top: -65px;
  right: -345px;
  background-image: url(https://hoshisato.com/ai/generated/page/2/thumb/thumb-125.jpeg);
  background-size: contain;
}

/* Position the pseudo-element over the original button */
.audio {
  position: relative;
  display: inline-block;
  z-index: 1;
  background-color: transparent;
}
